### Code to widen the notebook screen

In [11]:
from IPython.core.display import display, HTML
display(HTML(
    '<style>'
        '#notebook { padding-top:0px !important; } ' 
        '.container { width:100% !important; } '
        '.end_space { min-height:0px !important; } '
    '</style>'
))

##### Self code: to run pyspark here
    findspark
    init()
    SparkConf
    SparkContext
    SparkSession(sc)

In [1]:
import findspark
findspark.init()

In [2]:
findspark.find()

'D:\\Softwares\\Spark\\spark-2.4.7-bin-hadoop2.7'

In [3]:
from pyspark import SparkContext, SparkConf

In [4]:
conf = SparkConf().setAppName('appEx').setMaster('local')

In [5]:
sc = SparkContext(conf= conf)

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession(sc).builder.appName('sessionEx').getOrCreate()

In [7]:
df = spark.read.csv('./Resources/Python-and-Spark-for-Big-Data-master/Spark_DataFrame_Project_Exercise/walmart_stock.csv',
                   inferSchema=True, header=True)

In [10]:
df.show()

+-------------------+------------------+------------------+------------------+------------------+--------+------------------+
|               Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10 00:00:00|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11 00:00:00|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12 00:00:00|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13 00:00:00|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17 00:00:00|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18 00:00:00|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19 00:00:00|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20 00:00:00|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23 00:00:00|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24 00:00:00|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25 00:00:00|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26 00:00:00|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27 00:00:00|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30 00:00:00|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31 00:00:00|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+-------------------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

In [12]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [13]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [14]:
df.head(5)

[Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

In [15]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [32]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,DecimalType,DateType

In [49]:
data_schema = StructType([
                        StructField('Date',     DateType()),
                        StructField('Open',     DecimalType(10,2)),
                        StructField('High',     DecimalType(10,2)),
                        StructField('Low' ,     DecimalType(10,2)),
                        StructField('Close',    DecimalType(10,2)),
                        StructField('Volume',   DecimalType(10,2)),
                        StructField('Adj Close',DecimalType(10,2))])

In [50]:
df = spark.read.csv('./Resources/Python-and-Spark-for-Big-Data-master/Spark_DataFrame_Project_Exercise/walmart_stock.csv', schema=data_schema, header=True)

In [51]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: decimal(10,2) (nullable = true)
 |-- High: decimal(10,2) (nullable = true)
 |-- Low: decimal(10,2) (nullable = true)
 |-- Close: decimal(10,2) (nullable = true)
 |-- Volume: decimal(10,2) (nullable = true)
 |-- Adj Close: decimal(10,2) (nullable = true)

In [52]:
df.show()

+----------+-----+-----+-----+-----+-----------+---------+
|      Date| Open| High|  Low|Close|     Volume|Adj Close|
+----------+-----+-----+-----+-----+-----------+---------+
|2012-01-03|59.97|61.06|59.87|60.33|12668800.00|    52.62|
|2012-01-04|60.21|60.35|59.47|59.71| 9593300.00|    52.08|
|2012-01-05|59.35|59.62|58.37|59.42|12768200.00|    51.83|
|2012-01-06|59.42|59.45|58.87|59.00| 8069400.00|    51.46|
|2012-01-09|59.03|59.55|58.92|59.18| 6679300.00|    51.62|
|2012-01-10|59.43|59.71|58.98|59.04| 6907300.00|    51.49|
|2012-01-11|59.06|59.53|59.04|59.40| 6365600.00|    51.81|
|2012-01-12|59.79|60.00|59.40|59.50| 7236400.00|    51.90|
|2012-01-13|59.18|59.61|59.01|59.54| 7729300.00|    51.93|
|2012-01-17|59.87|60.11|59.52|59.85| 8500000.00|    52.20|
|2012-01-18|59.79|60.03|59.65|60.01| 5911400.00|    52.34|
|2012-01-19|59.93|60.73|59.75|60.61| 9234600.00|    52.86|
|2012-01-20|60.75|61.25|60.67|61.01|10378800.00|    53.21|
|2012-01-23|60.81|60.98|60.51|60.91| 7134100.00|    53.13|
|2012-01-24|60.75|62.00|60.75|61.39| 7362800.00|    53.54|
|2012-01-25|61.18|61.61|61.04|61.47| 5915800.00|    53.61|
|2012-01-26|61.80|61.84|60.77|60.97| 7436200.00|    53.18|
|2012-01-27|60.86|61.12|60.54|60.71| 6287300.00|    52.95|
|2012-01-30|60.47|61.32|60.35|61.30| 7636900.00|    53.47|
|2012-01-31|61.53|61.57|60.58|61.36| 9761500.00|    53.52|
+----------+-----+-----+-----+-----+-----------+---------+
only showing top 20 rows

In [53]:
df_2 = df.withColumn('HV Ratio', df['High']/df['Volume'])

In [54]:
df_2.show()

+----------+-----+-----+-----+-----+-----------+---------+---------------+
|      Date| Open| High|  Low|Close|     Volume|Adj Close|       HV Ratio|
+----------+-----+-----+-----+-----+-----------+---------+---------------+
|2012-01-03|59.97|61.06|59.87|60.33|12668800.00|    52.62|0.0000048197146|
|2012-01-04|60.21|60.35|59.47|59.71| 9593300.00|    52.08|0.0000062908488|
|2012-01-05|59.35|59.62|58.37|59.42|12768200.00|    51.83|0.0000046694131|
|2012-01-06|59.42|59.45|58.87|59.00| 8069400.00|    51.46|0.0000073673383|
|2012-01-09|59.03|59.55|58.92|59.18| 6679300.00|    51.62|0.0000089156049|
|2012-01-10|59.43|59.71|58.98|59.04| 6907300.00|    51.49|0.0000086444776|
|2012-01-11|59.06|59.53|59.04|59.40| 6365600.00|    51.81|0.0000093518286|
|2012-01-12|59.79|60.00|59.40|59.50| 7236400.00|    51.90|0.0000082914156|
|2012-01-13|59.18|59.61|59.01|59.54| 7729300.00|    51.93|0.0000077122120|
|2012-01-17|59.87|60.11|59.52|59.85| 8500000.00|    52.20|0.0000070717647|
|2012-01-18|59.79|60.03|59.65|60.01| 5911400.00|    52.34|0.0000101549548|
|2012-01-19|59.93|60.73|59.75|60.61| 9234600.00|    52.86|0.0000065763541|
|2012-01-20|60.75|61.25|60.67|61.01|10378800.00|    53.21|0.0000059014530|
|2012-01-23|60.81|60.98|60.51|60.91| 7134100.00|    53.13|0.0000085476795|
|2012-01-24|60.75|62.00|60.75|61.39| 7362800.00|    53.54|0.0000084207095|
|2012-01-25|61.18|61.61|61.04|61.47| 5915800.00|    53.61|0.0000104144832|
|2012-01-26|61.80|61.84|60.77|60.97| 7436200.00|    53.18|0.0000083160754|
|2012-01-27|60.86|61.12|60.54|60.71| 6287300.00|    52.95|0.0000097211840|
|2012-01-30|60.47|61.32|60.35|61.30| 7636900.00|    53.47|0.0000080294360|
|2012-01-31|61.53|61.57|60.58|61.36| 9761500.00|    53.52|0.0000063074323|
+----------+-----+-----+-----+-----+-----------+---------+---------------+
only showing top 20 rows

In [80]:
from pyspark.sql.functions import max

high_high = df_2.agg({'High':'max'})

df_2.select('Date').filter(df_2['High'] == high_high.head()[0]).show()

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+

In [93]:
df_2.select('Date').filter(df_2['High'] == df_2.agg({'High':'max'}).head()[0]).head()[0]

datetime.date(2015, 1, 13)

In [96]:
df_2.agg({'Close':'mean'}).show()

+----------+
|avg(Close)|
+----------+
| 72.388450|
+----------+

In [104]:
from pyspark.sql.functions import max,min
df_2.select([max(df_2['Volume']), min(df_2['Volume'])]).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|80898100.00| 2094900.00|
+-----------+-----------+

In [106]:
df_2.filter(df_2['Close'] < 60).count()

81

In [109]:
(  (df_2.filter(df_2['High'] > 80).count()) / (df_2.count()) ) * 100

9.141494435612083

In [110]:
from pyspark.sql.functions import max,min,corr

In [112]:
df_2.select(corr(df_2['High'],df_2['Volume'])).show()

+--------------------+
|  corr(High, Volume)|
+--------------------+
|-0.33843260582148915|
+--------------------+

In [120]:
from pyspark.sql.functions import year,month

In [116]:
df_2 = df_2.withColumn('Year',year(df_2['Date']))

In [119]:
df_2.groupBy('Year').max('High').orderBy('Year').show()

+----+---------+
|Year|max(High)|
+----+---------+
|2012|    77.60|
|2013|    81.37|
|2014|    88.09|
|2015|    90.97|
|2016|    75.19|
+----+---------+

In [123]:
df_2 = df_2.withColumn('month', month(df_2['Date']))

In [125]:
df_2.groupBy('month').mean('Close').orderBy('month').show()

+-----+----------+
|month|avg(Close)|
+-----+----------+
|    1| 71.448020|
|    2| 71.306804|
|    3| 71.777944|
|    4| 72.973619|
|    5| 72.309717|
|    6| 72.495377|
|    7| 74.439720|
|    8| 73.029818|
|    9| 72.184118|
|   10| 71.578545|
|   11| 72.111089|
|   12| 72.847925|
+-----+----------+